.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  animation: fadeIn 0.4s ease;
}

.card {
  width: 650px;
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  animation: popup 0.4s ease;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

.image {
  width: 100%;
  height: auto;
}

.content {
  padding: 20px;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popup {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
